.#*
*.o
*.out
*.gz
*.log
*.aux
*.bbl
*.blg
*.fff
*.ttt
*.aaa
vignettes/cache
vignettes/*.nav
vignettes/*.snm
vignettes/*.toc
vignettes/*.vrb
vignettes/figure


src/*.o
src/*.so
src/*.dll
src/symbols.rds


.Rhistory
*-Ex.R
### OS Files ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
inst/doc
